
<div><%= flash[:notice] %></div>


<div class='container px-8'>
  <%= render 'layouts/error', obj: @book %>
  <div class="row">
   <div class='col-md-4'>

      <h3>User info</h3>
      <%= render 'users/info',user: current_user %>


      <h3 class="mt-4">New book</h3>
      <%= render 'books/form',book:@book %>
     </div>

     <div class='col-md-7 offset-md-1'>
       <h3>books</h3>
       <%= render 'books/list', books:@books %>
    </div>
  </div>

</div>

<table class='table'>
 <thead>
   <tr>
     <th>image</th>
     <th>name</th>
     <th colspan="4"></th>
   </tr>
 </thead>

  <tbody>
<% @users.each do |user| %>

  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %>
    </td>
    <td><p><%= user.name %></p></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
  </tr>
<% end %>
 </tbody>
</table>