<% @books.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>投稿ユーザー画像：<%= image_tag %></p>
  <p>本の名前：<%= book.book_name %></p>
  <p>説明：<%= post_image.book_body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>
