<div class='container'>
  <div class="row">
     <div class='col-md-4'>

       <h3>Use info</h3>

       <%= render 'users/info' , user: @book.user %>
       <h3 class="mt-3">New book</h3>

       <%= render 'form', book: Book.new %></div>
       <div class= 'col-md-7 offset-md-1'></div>

<div>
  <%= image_tag @book.get_image %>
  <p>title：<%= @book.book_name %></p>
  <p>body：<%= @book.book_body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日時：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
</div>
</div>
</div>