<div class='container'>
  <div class="row">
     <div class='col-md-4'>

       <h3>Use info</h3>

       <%= render 'users/info' , user: @book.user %>
       <h3 class="mt-3">New book</h3>

       <%= render 'form', book: Book.new %></div>
       <div class= 'col-md-7 offset-md-1'>
         <h3>books detail</h3>
         <table class='table'>
         <tr>
             <td><%= link_to (@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <%= @book.user.name %>
              <% end %>


             </td>
             <td><%= link_to @book.book_name, @book %></td>
             <td><%= @book.book_body %></td>
             <% if @book.user == current_user %>
             <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success edit_book_#{@book}" %></td>
           <td> <%= link_to 'Destroy', book_path(@book), method: :delete, date: {confirm: 'are you ok?'} %></td>
  <% end %>
           </tr>
         </table>
       </div>
</div>
</div>
